<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа №4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
</head>
<body>

<div id="app">


    <!--<label for="firstName">Имя</label>
    <input type="text" id="firstName" v-model="firstName"/><br>
    <label for="lastName">Фамилия</label>
    <input type="text" id="lastName" v-model="lastName"/><br>
    <label for="login">Логин</label>
    <input type="text" id="login" v-model="login"/><br>
    <label for="password">Пароль</label>
    <input type="text" id="password" v-model="password"/><br>
    <button id ="enter" @click="validateEnter">Войти</button>
    <button id ="register" @click="validateRegistration">Зарегистрироваться</button>
    <p>{{ message }}</p>-->

</div>
<script src="js/PointForm.js"></script>
<script src="js/EnterForm.js"></script>
<script src="/js/login.js"></script>

</body>
</html>