
    <h3>Лабораторная работа №4</h3>

    <label htmlFor="y">Введите значение Y</label> <input type="text" id="y" v-model="y"/> <br>

        <!--<label for="x">Выберите X: </label>
        <input type="radio" name="x" value="1" checked v-model="x"> 1
        <input type="radio" name="x" value="2" v-model="x"> 2<br>



        <label for="gender">Выберите R: </label>
        <input type="radio" name="genderS" value="1" checked v-model="r"> 1
        <input type="radio" name="genderS" value="2" v-model="r"> 2<br>
    <a href="index.html">Ссылка на страницу регистрации</a>

